<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>UNNotificationExtensionCategory</key>
      <array>
                     <string>WEG_CAROUSEL_V1</string>
                     <string>WEG_RATING_V1</string>
                     <string>WEG_RICH_V1</string>
                     <string>WEG_RICH_V2</string>
                     <string>WEG_RICH_V3</string>
                     <string>WEG_RICH_V4</string>
                     <string>WEG_RICH_V5</string>
                     <string>WEG_RICH_V6</string>
                     <string>WEG_RICH_V7</string>
                     <string>WEG_RICH_V8</string>
                 </array>
			<key>UNNotificationExtensionInitialContentSizeRatio</key>
			<real>1</real>
		</dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.usernotifications.content-extension</string>
	</dict>
</dict>
</plist>
